#con{
    display: flex;
    justify-content: center;
    align-items: center; 
}
div{
    width: 50%;
    display: block;
    margin: auto;
}
div>button{
   
    margin-bottom: 10%;
    /* justify-content: center; */
   margin-left: 62%;
   padding: 4%;
   border-radius: 5px;
   border: none;
   background-color: rgb(21, 21, 20);
   color: white;
   
}
/* div>button:hover{
    border-radius: 60%;
    background-color: white;
    color: black;
    border:1px black solid;
} */
.img2{position: absolute;
    padding-right: 2px;
    display: none;
    border-radius: 10px;
}