*{
    margin: 0%;
    padding: 0%;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
section>div{
    background-color: rgb(186, 21, 93);
    width: 12.5%;
    text-align: center;
    padding: 4rem;
    border-radius: 20px;
}
section>div>input{
   padding: 0.5rem;
   border: 1px solid white;
   border-radius: 5px;
   margin-bottom: 1rem;
   margin-top: 1rem;
}
p{
    font-size: large;
    font-weight: 400;
    color: white;
}

h1{
    color: white;
}
